{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'page/css/home.css' %}">
    <script src="{% static 'page/js/hello.js' %}"></script>
    <title>Document</title>
</head>
<body>
    <h1>안녕</h1>
    {% for post in posts %}
    <a href="{% url 'detail' post.id %}">{{post.title}}</a> <br>
    {{post.author}} <br>
    {{post.pub_date}} <br>
    {% endfor %}
    <input type="button" value="클릭" onclick="hello()">
</body>
</html>